.main_container {
  background-color: var(--container);
  border-radius: 10px;
  padding: 25px 10px;
  width: 342px;
  margin-left: 50px;
  margin-bottom: 15px;
}

/* responsive queries */
@media (max-width: 600px) {
  .main_container {
    width: 100vw;
    margin-left: 0px;
  }
}
