.head {
  font-weight: 500;
  color: var(--header);
}

.subHead {
  border-bottom: 1px solid #98a2b3;
}

.data {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #98a2b3;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  display: inline-block;
}

.title {
  margin-bottom: 15px;
}
